<script src="/javascripts/inputex/js/inputex.js"  type='text/javascript'></script>
<script src="/javascripts/inputex/js/widgets/json-tree-inspector.js"  type='text/javascript'></script>

<h1>Activities</h1>

<br />
<p>This page shows the last executions of your wirings :</p>
<br />

<div id="activity_list">
  
  <% for(var i = 0 ; i < activities.length ; i++) { 
        activity = activities[i]; if( activity.wiring && activity.wiring.name) { %>
        
  <div class="activity">

  	<h3><a href="/wirings/<%= activity.wiring._id.toHexString() %>"><%= activity.wiring.name %></a></h3>

  	<div class="created-at"><%= timeago( new Date(Date.parse(activity.created_at)) ) %></div>

  	<div class="duration"><%= activity.duration %>ms</div>

  	<div class="format">.<%= activity.format %></p>
  	  
  	<div class="from">from <%= activity.from %></p>
      
    <div id="activity<%= i %>"></div>

  </div>
<script>
YAHOO.util.Event.onDOMReady(function() {
  new inputEx.widget.JsonTreeInspector('activity<%= i %>', {
      params: <%- JSON.stringify(activity.params) %>, 
      results: <%- JSON.stringify(activity.results) %>
    });
});
</script>

  <% } } %>
  
</div>
