<div class="container">
  
  <h1>Activities</h1>

  <p>This page shows the last executions of your wirings :</p>

  <div>
  
    <% for(var i = 0 ; i < activities.length ; i++) { 
          activity = activities[i]; if( activity.wiring && activity.wiring.name) { %>
        
    <div class="activity">

    	<h3><a href="/wirings/<%= activity.wiring._id.toHexString() %>"><%= activity.wiring.name %></a></h3>

    	<div class="created-at"><%= timeago( new Date(Date.parse(activity.created_at)) ) %></div>

    	<div class="duration"><%= activity.duration %>ms</div>

    	<div class="format">.<%= activity.format %></p>
  	  
    	<div class="from">from <%= activity.from %></p>
      
      <div id="activity<%= i %>"></div>

    </div>
    <% } } %>
  
  </div>

  <script>
  YUI_config.groups.inputex.combine = true;
  YUI_config.groups.inputex.root = 'inputex/src/';
  YUI_config.groups.inputex.filter = 'raw';
  YUI({
  	combine: false
  }).use('inputex-jsontreeinspector', function(Y) {

  <% for(var i = 0 ; i < activities.length ; i++) { 
        activity = activities[i]; if( activity.wiring && activity.wiring.name) { %>

  	new Y.inputEx.widget.JsonTreeInspector('activity<%= i %>', {
  	      params: <%- JSON.stringify(activity.params) %>, 
  	      results: <%- JSON.stringify(activity.results) %>
  	    });
  		  <% } } %>

  });

  </script>

</div>