<div class="container">
  
  <%- partial('../partials/wiring', { collection: [wiring] }) %>	

  <%- messages() %>

  <p><a href="run">Run</a></p>
  <p><a href="run?notemplate=1">Run without template</a></p>

  <form method="POST" action="/wirings/<%- wiring._id.toHexString() %>">

  	<div style="text-align: right; margin: 5px;">
  		<input type="submit" value="Save template" name="template_save" class="btn primary"/>
  	</div>

    <div style="padding: 10px;">
  		<p>Public name (no spaces or slash)</p>
  		<input name="publicname" value=<%- JSON.stringify(wiring.publicname || "") %> />
  	</div>

  	<div style="border: 1px solid black; padding: 0px;">
  		<textarea id="code" cols="120" rows="30" name="template"><%- (wiring.template || "") %></textarea>
  	</div>

  	<br />

  	<p>Mime Type: <select name="template_content_type">
  		<% 
  		  current_content_type = wiring.template_content_type || "text/html";
  			var types = ["text/html", "application/json"]
  			for(var k in  types) {
  		%>
  			<option <%= current_content_type == types[k] ? "selected" : ""%>><%= types[k] %></option>
  		<% } %>
  	</select>
  	</p>
  	<br />

  	<input type="submit" value="Save template" name="template_save"  class="btn primary"/>

  </form>	



  <br /><br /><br />

  <h2>Help !</h2>

  <p>This is using <a href="http://embeddedjs.com/" target="_new">Embedded JavaScript Templates (EJS)</a></p> 

  <p>Two important variables are accessible in your template :</p> 
  <br />
  <ul>
  	<li style="list-style: disc; margin-left: 20px;"><b><i>results</i></b> : Object containing the output values of the wiring.</li>
  	<li style="list-style: disc; margin-left: 20px;"><b><i>params</i></b> : Object containing the call parameters of the wiring.</li>
  </ul>
  <br />

  <p>Exemple :</p>	
  <pre>		
  &lt;!DOCTYPE html&gt;
  &lt;html&gt;
  &lt;head&gt;
  &lt;title&gt;Message&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
  &lt;% if( results.res.success) { %&gt;
  &lt;h1&gt;Message sent !&lt;/h1&gt;

  &lt;p&gt;Remaining: &lt;%= results.res.success["@"].remaining %&gt;&lt;/p&gt;

  &lt;p&gt;
   Reset date: 
   &lt;%= (new Date(results.res.success["@"].resetdate*1000)).toString() %&gt;
  &lt;/p&gt;

  &lt;% } else { %&gt;
  &lt;p&gt;failure :'(&lt;/p&gt;
  &lt;% } %&gt;
  &lt;/body&gt;
  &lt;/html&gt;
  </pre>

  <script src="/javascripts/codemirror/js/codemirror.js" type="text/javascript"></script>
  <script>
  var editor = CodeMirror.fromTextArea('code', {
    height: "350px",
    parserfile: "parsexml.js",
    stylesheet: "/javascripts/codemirror/css/xmlcolors.css",
    path: "/javascripts/codemirror/js/",
    continuousScanning: 500,
    lineNumbers: true
  });
  </script>
  
</div>