
<%- messages() %>

<h1><%- wiring.name %></h1>

	<p>
	<% if(!!wiring.config && !!wiring.config.properties && wiring.config.properties.description) { %>
			<%= wiring.config.properties.description %>
	<% } else { %>
			No description yet
	<% } %>
	</p>
	
	<div class="timeago">updated <%= timeago( new Date(Date.parse(wiring.updated_at)) ) %></div>
  <div class="timeago">created <%= timeago( new Date(Date.parse(wiring.created_at)) ) %></div>
  
  <br /><br />
  
	<h3><img src="/images/icons/clock.png"> Cron</h3>
	<div class="cronInfos">
	  <p>Cron Rule: <%= wiring.cron %> <a href="/wirings/<%- wiring._id.toHexString() %>/edit-cron">Edit</a></p>
	</div>
	
	<br /><br />
  
	<h3><img src="/images/icons/clock.png"> Source</h3>
	<div class="sourceInfos">
	  <p>Using <%= wiring.config.modules.length %> modules :<ul>
	    <% for(var i = 0; i < wiring.config.modules.length ; i++) { %>
	    <li><%= wiring.config.modules[i].name %></li>
	    <% } %>
	  </ul>
	  </p>
	    
	  <p><a href="/editor?name=<%- wiring._id.toHexString() %>">Edit-source</a></p>
	</div>
	
  <br /><br />
  
	<h3><img src="/images/icons/eye.png"> Template</h3>
	<div class="templateInfos">
	  Content-Type: <%= wiring.template_content_type %>
	  <p><span style="font-style: italic; font-size: 80%;"><%= wiring.template ? wiring.template.substr(0,30)  : "" %>...</span> <a href="/wirings/<%- wiring._id.toHexString() %>/edit-template">Edit</a></p>
	</div>
	
	<br /><br />

  
	<h3><img src="/images/icons/world_link.png"> Public execution</h3>
	<div class="templateInfos">
	  Public URL: <%- wiring.publicname ? "<a href='/wirings/public/"+wiring.publicname+"'>/wirings/public/"+wiring.publicname+"</a>" : "not defined" %>
	</div>
	
	<br /><br />


  <h3><img src="/images/icons/script_go.png"> Run</h3>
<div class="box">

	<div id='formParams'>


		<% 
		   fields = []
			 working = wiring.config
		   working.modules.forEach(function(m){
			 	if(m.name == "input") {
			 		fields.push( m.value.input);
			 	}
		   });
		
		if(fields.length > 0) { %>
		<h4>Parameters</h4>
		<% } %>

	</div>

	<br />

	<button id="runButton">Run</button>

	<br /><br />

	<p><a href="/wirings/<%- wiring._id.toHexString() %>/run?notemplate=1">Run without template</a></p>

	<p><a href="#" id="toggleUrlContainer">Show the url</a></p>

	<p id="runUrl" style='display: none;'><span id='urlContainer'></span></p>
	<br />

</div>

<script>
   var fields = <%- JSON.stringify(fields) %>;
   var defaultValue = <%-  JSON.stringify(params) %>;
	 var baseUrl = "/wirings/<%- wiring._id.toHexString() %>";
</script>

<script type="text/javascript" src="/javascripts/inputex/js/inputex.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/Field.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/Group.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/Visus.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/mixins/choice.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/StringField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/Textarea.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/SelectField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/IntegerField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/NumberField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/EmailField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/RadioField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/UrlField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/ListField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/CheckBox.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/InPlaceEdit.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/ColorField.js"></script>
<script type="text/javascript" src="/javascripts/inputex/js/fields/TypeField.js"></script>
<script type="text/javascript" src="/javascripts/webhookit/run-form.js"></script>

