<div class="activity dashboard-item">
	
	<div class="timeago"><%= timeago( new Date(Date.parse(activity.created_at)) ) %></div>
	
	<a href="/wirings/<%- activity.wiring._id.toHexString() %>"><%- activity.wiring.name %></a>
	<p>the request took <%= activity.duration %>ms, rendered in <%= activity.format %></p>
	
</div>
